{% extends "base.html" %}
{% block content%}
<section class="content">
<div class="row">
    <div class="col-xs-12">
        {% if message %}
            {% if status == 0 %}
            <div class="alert alert-block alert-success">{{message}}</div>
            {% else %}
                <div class="alert alert-block alert-danger">{{message}}</div>
            {% endif %}
        {% endif %}
        <section class="panel">
          <header class="panel-heading">
             Cadastro de Proposta de Projeto
          </header>
          <div class="panel-body">
              <form class="form-horizontal tasi-form" action="/clientes/novo" method="post">
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                      <div class="col-sm-10">
                          <input type="text" name="name" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                          <input type="text" name="email" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label">Telefone</label>
                      <div class="col-sm-10">
                          <input type="text" name="phone" class="form-control round-input">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label">Senha</label>
                      <div class="col-sm-10">
                          <input class="form-control"  name="password" type="password">
                          <input type="hidden" value="" name="is_manager" />
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label"></label>
                      <input type="submit" class="btn btn-success" value="Cadastrar">
                  </div>

              </form>
          </div>
        </section>
    </div>
</div>
</section><!-- /.content -->
{% endblock %}
